@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primaryColor: #95CA33;
    --secondaryColor: #FFFFFF;
    --themeFont: "Ubuntu";
}

body {
    margin: 0;
}

.s0207_universal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--themeFont);
}

.s0207_container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.s0207_trending_wrapper {
    padding-top: 80px;
}

.s0207_trending_title_wrapper {
    text-align: center;
}

.s0207_trending_title {
    font-size: 20px;
    font-weight: 700;
}

/* trending product area */
.s0207_trending_all_product_wrapper {
    padding-top: 25px;
}

.s0207_trending_all_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}

.s0207_product_img_container img {
    display: block;
    width: 100%;
    height: 100%;
}

.s0207_top_area {
    border: 1px solid rgba(30, 39, 46, 10%);
    position: relative;
}

.s0207_add_wishlist_icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.s0207_product_badge {
    width: 20px;
    height: 20px;
    position: relative;
}


.s0207_product_badge {
    position: absolute;
    top: 12px;
    left: 12px;

}

.s0207_product_badge_name {
    font-size: 9px;
    font-weight: 500;
    color: #000;
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate(-50%, -50%);
}

/* .s0207_product_badge_bg {
    height: 20px;
    width: 20px;
} */

.s0207_product_badge_bg::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--primaryColor);
    position: absolute;
    transform: rotate(-45deg);
    border-radius: 3px;
}

.s0207_product_bottom_area {
    text-align: center;
    padding-top: 12px;
}

.s0207_product_name_wrapper {
    padding-bottom: 10px;
}

.s0207_product_name {
    font-size: 12px;
    font-weight: 500;

}

.s0207_product_rating {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2px;
}

.s0207_product_price_container {
    margin-top: 10px;
    padding-bottom: 12px;
}

.s0207_product_price {
    color: var(--primaryColor);
    font-size: 12px;
    font-weight: 500;
}

.s0207_add_cart_btn {
    padding: 6px 15px;
    border: none;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    background-color: var(--secondaryColor);
    font-size: 12px;
    font-weight: 500;
    transition: all .3s linear;
    cursor: pointer;
}

.s0207_add_cart_btn:hover {
    background-color: black;
    color: var(--secondaryColor);
    border: 1px solid black;
}

.s0207_trending_single_product:nth-child(5) {
    display: none;
}

.s0207_view_all_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.s0207_view_all_btn {
    font-size: 12px;
    font-weight: 500;
    padding: 9.5px 20px;
    color: var(--secondaryColor);
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    transition: all .3s linear;
    cursor: pointer;
}

.s0207_view_all_btn:hover {
    background-color: black;
    border: 1px solid black;
}

.skeleton {
    min-height: 200px;
    border-radius: 3px;
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.fc001_skeleton_item {
    width: 400px;
    height: 300px;
}

@keyframes skeleton-loading {
    0% {

        background-color: #c1c1c1;
        opacity: 0.5;
    }

    100% {

        background-color: #c1c1c8;
        opacity: 0.8;
    }
}

@media screen and (min-width:640px) {
    .s0207_trending_title {
        font-size: 24px;
    }

    .s0207_trending_all_product_wrapper {
        padding-top: 35px;
    }

    .s0207_trending_all_product {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }

    .s0207_add_wishlist_icon {
        top: 15px;
        right: 15px;
    }

    .s0207_product_badge {
        top: 15px;
        left: 15px;

    }

    .s0207_product_badge_name {
        font-size: 12px;
        top: 60%;
        left: 67%;
    }

    .s0207_product_badge_bg::after {
        height: 28px;
        width: 28px;
    }

    .s0207_product_bottom_area {
        padding-top: 15px;
    }

    .s0207_product_name {
        font-size: 14px;
    }

    .s0207_product_price_container {
        padding-bottom: 15px;
    }

    .s0207_product_price {
        font-size: 14px;
    }

    .s0207_add_cart_btn {
        padding: 6px 15px;
        font-size: 14px;
    }

    .s0207_trending_single_product:nth-child(4) {
        display: none;
    }

    .s0207_trending_single_product:nth-child(5) {
        display: none;
    }

    .s0207_view_all_btn_wrapper {
        padding-top: 35px;
    }

    .s0207_view_all_btn {
        font-size: 14px;
        padding: 10px 20px;
    }

}

@media screen and (min-width:1025px) {
    .s0207_trending_title {
        font-size: 28px;
    }

    .s0207_trending_all_product_wrapper {
        padding-top: 40px;
    }

    .s0207_trending_all_product {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 30px;
    }

    .s0207_trending_single_product:nth-child(4) {
        display: block;
    }

    .s0207_trending_single_product:nth-child(5) {
        display: block;
    }
}